{{template "base/head" .}}
<div class="page-content home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="hero">
				<h1 class="ui icon header title">
					Willkommen
				</h1>
				<h2>auf git.thilo-billerbeck.com</h2>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
